@charset "UTF-8";

@import 'vars.less';

* {
  box-sizing: border-box;
}

html, body {
  background: @m-bg;
  height: 100%;
  font-size: 14px;

}

body {
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
}


// text-align
.tl { 
  text-align: left
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}


// float
.fl {
  float: left;
}
.fr {
  float: right;
}
