@charset "UTF-8";

@import 'vars.less';

* {
  box-sizing: border-box;
}

html, body {
  background: @in-bg;
  height: 100%;
  font-size: 14px;

}

body {
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
  display: flex;
}

// clearfix
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


// text-align
.tl { 
  text-align: left
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}


// float
.fl {
  float: left;
}
.fr {
  float: right;
}

// padding
.p1 {
  padding: @m-l;
}
.plr1 {
  padding-left: @m-l;
  padding-right: @m-l;
}
.ptb1 {
  padding-top: @m-l;
  padding-bottom: @m-l;
}
.pt1 {
  padding-top: @m-l;
}
.pl1 {
  padding-left: @m-l;
}
.pb1 {
  padding-bottom: @m-l;
}
.pr1 {
  padding-right: @m-l;
}

// margin
.m1 {
  margin: @m-l;
}
.mlr1 {
  margin-left: @m-l;
  margin-right: @m-l;
}
.mtb1 {
  margin-top: @m-l;
  margin-bottom: @m-l;
}
.mt1 {
  margin-top: @m-l;
}
.ml1 {
  margin-left: @m-l;
}
.mb1 {
  margin-bottom: @m-l;
}
.mr1 {
  margin-right: @m-l;
}

