@charset "UTF-8";

@import 'vars.less';

* {
  box-sizing: border-box;
}

html, body {
  background: @m-bg;
  height: 100%;
  font-size: 14px;

}

body {
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

// clearfix
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


// text-align
.tl { 
  text-align: left
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}


// float
.fl {
  float: left;
}
.fr {
  float: right;
}

// padding
.p1 {
  padding: 1rem;
}
.plr1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ptb1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pt1 {
  padding-top: 1rem;
}
.pl1 {
  padding-left: 1rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.pr1 {
  padding-right: 1rem;
}

// margin
.m1 {
  margin: 1rem;
}
.mlr1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mtb1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mt1 {
  margin-top: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mr1 {
  margin-right: 1rem;
}

