// color
@theme: #18212d;
@themelight: #131a23;
@in-bg: #f2f2f2;
@white: #fff;
@border: #e6e6e6;

// border-radius
@xs-br: 3px;
@s-br: 6px;

// paddind and margin
@xs-l: 5px;
@s-l: 10px;
@m-l: 15px;
@xl-l: 20px;
@xxl-l: 30px;
@xxxl-l: 40px;

// font-size
@f-l: 2rem;
@f-m: 1.8rem;